[submodule "scripts/fixes/x11-fractional-scaling"]
	path = scripts/fixes/x11-fractional-scaling
	url = https://github.com/KroJIak/debian-gnome-x11-fractional-scaling.git
[submodule "scripts/apps/extra/redvpn"]
	path = scripts/apps/extra/redvpn
	url = https://github.com/KroJIak/redvpn-client-manager.git
[submodule "scripts/fixes/fnkeys"]
	path = scripts/fixes/fnkeys
	url = https://github.com/KroJIak/huawei-fnkeys-debian-fix.git
