#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Main
Exec=/usr/bin/gnome-pie -o 451
Encoding=UTF-8
Type=Application
Icon=applications-internet
StartupWMClass=gnome-pie-451
